/* Write your CSS here */

/* Write your CSS here */
.button {
  border-radius: 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 20px;
  align-self: center;
  padding: 10px;
}
